<!DOCTYPE html>
<html>

<%- include('partials/head.ejs', { head }); -%>

<body>
    <h1 class="alignCentre">CAT BREEDS</h1>

    <%- include('partials/nav.ejs', { user: body.user }); -%>

    <% for(const docBreed of body.docArr_Breeds) { %>
    <a class="dispBlock margBot20" href="/breeds/<%= docBreed._id %>">
        <div>Breed: <%= docBreed.breed %></div>
        <img src="<%= docBreed.image %>" />
    </a>
    <% } %>
</body>
</html>